body{
    font-family: 'Open Sans', sans-serif ;
    margin: 0px;
}
p{
    color: dimgray;
}
section{
    height: 705px;
}
.top-area{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.intro{
    width: 40%;
    float: left;
    margin-left: 240px;
    padding: 60px;
    margin-top: 105px;
    position: absolute;
    display: inline;
}
.intro img{
    float: right;
    margin-right: -372px;
    margin-top: -65px;
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: #ec4c7a ;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
}
.name-highlight{
    color:#ec4c7a;
    font-size: 40px;
}
.bio-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    
}
.bio img{
    width: 65%;
}
.bio{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 160px;
    padding: 2%;
}
.work-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center; 
    margin-top: 100px;
    justify-content: center;
}
.work{
    margin-left: 250px;

}
.work1{
    float: left;
    width: 30%;
    padding: 4px;
}
.work2{
    float: left;
    padding: 5px;
    float: left;
    width: 30%;
}
.work3{
    float: left;
    width: 30%;
    padding: 4px;
}
.clients-comments{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-repeat: none;
    background-size: 100%;
    margin-top: 30px;
    height: 500px;
    margin-bottom: 0px;
}
.clients-comments p{
    color: dimgray;
}
#message{
    width: 361px;
    height: 99px;
    background-color: #ec4c7a ;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-left: 445px;
    margin-top: 70px;
}
